<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Consejos</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<main class="consejos__container">
			<section class="consejos__section">
				<h2 class="consejos__titulo">Consejos de salud</h2>
				<article class="servicios__article" th:each="consejo: ${consejos}">
					<h3 class="article__subtitulo" th:text="${consejo.titulo}"></h3>
					<p class="article__texto" th:text="${consejo.texto}"></p>
					<p class="article__texto clave" th:text="${'Consejo clave: ' + consejo.clave}"></p>
					<a id="tabla__enlace" class="tabla__dato" th:href="@{/consejos/modificar_consejo/} + ${consejo.id}">Editar</a>
                    <a id="tabla__enlace" class="tabla__dato" th:href="@{/consejos/eliminar_consejo/} + ${consejo.id}">Borrar</a>
				</article>
			</section>	
			<a class="servicio__enlace" th:href="@{/consejos/nuevo_consejo}">Nuevo consejo</a>
		</main>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>