<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Consejos</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<div class="container-lg consejos__container">
			<h2 class="consejos__titulo ">Consejos de salud</h2>
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
			  <div class="col" th:each="consejo: ${consejos}">
			    <div class="card">
			      <div class="card-body servicios__article">
			        <h5 class="card-title article__subtitulo" th:text="${consejo.titulo}"></h5>
			        <p class="card-text article__texto" th:text="${consejo.texto}"></p>
			        <p class="card-text article__texto clave" th:text="${'Consejo clave: ' + consejo.clave}"></p>
			      
					<div class="card-footer md-flex justify-content-md-center pt-3">
			        <a class="btn btn-outline-primary" th:href="@{/consejos/modificar_consejo/} + ${consejo.id}">Editar</a>
                    <a class="btn btn-outline-danger" th:href="@{/consejos/eliminar_consejo/} + ${consejo.id}">Borrar</a>
			      </div>			      
			      </div>
			    </div>
			  </div>
			</div>
			<div class="d-grid gap-2">
				<a class="btn btn-success btn-lg" th:href="@{/consejos/nuevo_consejo}">Nuevo consejo</a>
			</div>
		</div>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>