<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head lang="es">
		<meta charset="UTF-8">
		<title>Contacto</title>
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<main class="form__container">
			<div class="form__section">
				<h2 class="form__titulo">Contáctenos</h2>
				<div class="form__datos">
					<p>Direccion: 3915 Av. General Belgrano</p>
					<p>Telefono: 388-49999</p>
					<p>Horario:</p>
					<ul>
						<li>Lunes a viernes: 9:00 am a 8:00pm</li>
						<li>Sabado a domingo: 9:00 am a 12:30 pm</li>
					</ul>
					<p>Correo electrónico: <a href="mailto:contactos@mail.com.ar">contactos@mail.com.ar</a></p>
				</div>
				<form class="form__consulta" th:action="@/contacto/nuevo" th:object="${contacto}" method="post">
					<fieldset>
						<legend>Consulta</legend>
						<div>
							<label>Nombre: </label>
							<input type="text" name="nombre" placeholder="Ingrese su nombre" required th:field="*{nombre}">
						</div>
						<div>
							<label>Email: </label>
							<input type="email" name="email" placeholder="Ingrese un email válido" required th:field="*{email}">
						</div>
						<div>
							<label>Ciudad: </label>
							<input type="text" name="ciudad" placeholder="Ingrese su ciudad" required th:field="*{ciudad}">
						</div>
						<div>
							<label>Mensaje: </label>
							<br>
							<textarea rows="8" th:field="*{mensaje}"></textarea>
						</div>
						<button type="submit" id="button__submit">Enviar</button>
					</fieldset>
				</form>
			</div>
		</main>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
</html>