<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Inicio</title>
	    <!-- Inclusión del archivo CSS de Bootstrap -->
	    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<!-- Encabezado -->
		<header th:replace="~{layouts/header :: header}"></header>
		
		<!-- Navegación -->
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<!-- Contenido principal -->
		<main class="container main__container rounded-4">
			<div class="row">
				
				<!-- Sección principal -->
				<section class="col-lg-10 col-md-12 main__section">
					<!-- Título de la sección -->
			    	<h2 class="main__titulo">Buscamos</h2>
					
					<!-- Primer artículo -->
					<article class="mt-4 mb-4">
						<!-- Subtítulo del artículo -->
						<h3 class="article__subtitulo">Promover el cuidado y bienestar de las mascotas</h3>
						<!-- Texto del artículo -->
						<p class="article__texto">Concientizando y garantizar que las mascotas reciban una atención adecuada y se mantengan en las mejores condiciones posibles en un ambiente saludable,
						al igual que fomentar la adopción y la tenencia responsable</p>
					</article>
					
					<!-- Segundo artículo -->
					<article class="main__article mt-4 mb-4">
						<!-- Subtítulo del artículo -->
						<h3 class="article__subtitulo">Satisfacer sus necesidades</h3>
						<!-- Texto del artículo -->
						<p class="article__texto">Ofrecemos productos y servicios que incluyen alimentos, juguetes, ropa, productos para el cuidado de la salud de la mascota, 
						servicios de aseo, entre otros para lograr satisfacer las necesidades de los clientes y de los diferentes tipos de mascotas, así como de diferentes razas y edades.</p>
					</article>
					
					<!-- Tercer artículo -->
					<article class="main__article mt-4 mb-4">
						<!-- Subtítulo del artículo -->
						<h3 class="article__subtitulo">Proporcionar una adecuada atención</h3>
						<!-- Texto del artículo -->
						<p class="article__texto">Damos un servicio al cliente exelente, ayudandolos a encontrar los productos adecuados, 
						proporcionando información sobre el cuidado de las mascotas y respondiendo a las preguntas de manera útil.</p>
					</article>
			    </section>
			    
			    <!-- Aside lateral -->
			    <aside class="col-lg-2 col-md-12">
			    	<!-- Contenido del aside -->
			    	<div class="mx-auto text-center mt-3">
			    		<!-- Título del aside -->
			    		<h4 class="aside__titulo">Artículos de interés</h4>
			    		<!-- Enlaces del aside -->
			    		<a class="lista__enlace mt-3 mb-3" href="#">Adiestramiento</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Alimentación</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Cuidados</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Curiosidades</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Perros</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Gatos</a>
			    		<a class="lista__enlace mt-3 mb-3" href="#">Otras razas</a>
			    	</div>
			    </aside>
			</div>
		</main>
		
		 <!-- footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		
		<!-- Inclusión del archivo JavaScript de Bootstrap -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>
