<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	    <meta charset="UTF-8">
	    <title>Inicio</title>
		<link rel="stylesheet" th:href="@{estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="layouts/layouts :: header"></header>
		
		<nav th:replace="layouts/layouts :: nav"></nav>
		
		<main class="main__container">
			<section class="main__section">
				<h2 class="main__titulo">Buscamos</h2>
				
				<article class="main__article">
					<h3 class="article__subtitulo">Promover el cuidado y bienestar de las mascotas</h3>
					<p class="article__texto">Concientizando y garantizar que las mascotas reciban una atención adecuada y se mantengan en las mejores condiciones posibles en un ambiente saludable,
					al igual que fomentar la adopción y la tenencia responsable</p>
				</article>
				
				<article class="main__article">
					<h3 class="article__subtitulo">Satisfacer sus necesidades</h3>
					<p class="article__texto">Ofrecemos productos y servicios que incluyen alimentos, juguetes, ropa, productos para el cuidado de la salud de la mascota, 
					servicios de aseo, entre otros para lograr satisfacer las necesidades de los clientes y de los diferentes tipos de mascotas, así como de diferentes razas y edades.</p>
				</article>
				
				<article class="main__article">
					<h3 class="article__subtitulo">Proporcionar una adecuada atención</h3>
					<p class="article__texto">Damos un servicio al cliente exelente, ayudandolos a encontrar los productos adecuados, 
					proporcionando información sobre el cuidado de las mascotas y respondiendo a las preguntas de manera útil.</p>
				</article>
			</section>
			
			<aside class="main__aside">
				<div class="aside__container">
					<h3 class="aside__titulo">Artículos de interés</h3>
					<ul class="aside__lista">
						<li class="lista__item"><a class="lista__enlace" href="#">Adiestramiento</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Alimentación</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Cuidados</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Curiosidades</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Perros</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Gatos</a></li>
						<li class="lista__item"><a class="lista__enlace" href="#">Otras razas</a></li>
					</ul>
				</div>
			</aside>
		</main>
		
		<footer th:replace="layouts/layouts :: footer"></footer>
	</body>
</html>
