<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">
	    <title>Inicio</title>
	</head>
	<body>
		<header>
			<h1>Patas Arriba S.A</h1>
			<img alt="logo-veterinaria" src="../static/images/logo.png" title="Veterinaria S.A">
		</header>
		
		<nav>
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="consejos.html">Consejos de salud</a></li>
				<li><a href="servicios.html">Servicios de paseo</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
		<section>
			<h2>Buscamos</h2>
			
			<article>
				<h3>Promover el cuidado y bienestar de las mascotas</h3>
				<p>Concientizando y garantizar que las mascotas reciban una atención adecuada y se mantengan en las mejores condiciones posibles en un ambiente saludable,
				al igual que fomentar la adopción y la tenencia responsable</p>
			</article>
			
			<article>
				<h3>Satisfacer sus necesidades</h3>
				<p>Ofrecemos productos y servicios que incluyen alimentos, juguetes, ropa, productos para el cuidado de la salud de la mascota, 
				servicios de aseo, entre otros para lograr satisfacer las necesidades de los clientes y de los diferentes tipos de mascotas, así como de diferentes razas y edades.</p>
			</article>
			
			<article>
				<h3>Proporcionar una adecuada atención</h3>
				<p>Damos un servicio al cliente exelente, ayudandolos a encontrar los productos adecuados, 
				proporcionando información sobre el cuidado de las mascotas y respondiendo a las preguntas de manera útil.</p>
			</article>
		</section>
		
		<aside>
			<section>
				<h3>Artículos de interés</h3>
				<ul>
					<li><a href="#">Adiestramiento</a></li>
					<li><a href="#">Alimentación</a></li>
					<li><a href="#">Cuidados</a></li>
					<li><a href="#">Curiosidades</a></li>
					<li><a href="#">Perros</a></li>
					<li><a href="#">Gatos</a></li>
					<li><a href="#">Otras razas</a></li>
				</ul>
			</section>
		</aside>
		
		<footer>
			<div>
				<p>Copyright &copy; 2023 - Patas Arriba S.A – Jujuy – República Argentina</p>
			</div>
			<hr>
			<div>
				<a href="#"><img alt="facebook" src="../static/images/facebook.png"></a>
				<a href="#"><img alt="instagram" src="../static/images/instagram.png"></a>
				<a href="#"><img alt="twitter" src="../static/images/twitter.png"></a>
				<a href="#"><img alt="email" src="../static/images/correo-electronico.png"></a>
			</div>
		</footer>
	</body>
</html>
