<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="ISO-8859-1">
		<title>Nuevo Consejo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<section class="formulario__container">
			<h3 class="formulario__subtitulo" th:text="${edicion}? 'Modificar consejo' : 'Nuevo consejo'"></h3>
			
			<form class="formulario__servicio" th:action="${edicion}? @{/consejos/modificar_consejo} : @{/consejos/guardar_consejo}" th:object="${consejo}" method="post">
				<div class="d-grid gap-3">
					<div class="input-group input-group-lg">
				  <label for="titulo" class="input-group-text" id="inputGroup-sizing-lg">Titulo</label>
				  <input type="text" id="titulo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" required th:field="*{titulo}">
				</div>
				
				<div class="input-group input-group-sm">
				  <label for="texto" class="input-group-text" id="inputGroup-sizing-lg">Texto</label>
				  <textarea id="texto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" rows="5" cols="80" name="texto" required th:field="*{texto}"></textarea>
				</div>
				
				<div class="input-group input-group-default">
				  <label for="clave" class="input-group-text" id="inputGroup-sizing-lg">Consejo Clave</label>
				  <textarea id="clave" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" rows="3" cols="80" name="texto" required th:field="*{clave}"></textarea>
				</div>
				
				<input type="hidden" name="id" th:value="*{id}">
				
				<input type="submit" class="btn btn-danger" th:value="${edicion}? 'Modificar' : 'Guardar'">
				</div>
			</form>
		</section>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>