<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicio</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<!-- Encabezado -->
		<header th:replace="~{layouts/header :: header}"></header>
		
		<!-- Navegación -->
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<section class="formulario__container">
			<!-- Título dinámico según el valor de la variable "edicion"--> 
			<h3 class="formulario__subtitulo" th:text="${edicion}? 'Modificar paseo' : 'Nuevo paseo'"></h3>
			
			<!-- Formulario para crear o modificar un paseo -->
			<form class="formulario__servicio" th:action="${edicion}? @{/servicios/modificar-paseo} : @{/servicios/guardar-paseo}" th:object="${servicioPaseo}" method="post">
				<!-- Selección del día del paseo -->
				<label class="servicio__label" for="dia">Día</label>
				<select class="servicio__input" id="dia" name="dia" th:field="*{dia}">
					<option value="Lunes">Lunes</option>
					<option value="Martes">Martes</option>
					<option value="Miércoles">Miércoles</option>
					<option value="Jueves">Jueves</option>
					<option value="Viernes">Viernes</option>
					<option value="Sábado">Sábado</option>
				</select>
				
				<!-- Ingreso para el horario de inicio del paseo -->
				<label class="servicio__label" for="inicio">Horario de inicio</label>
				<input class="servicio__input" type="number" id="inicio" name="horario_inicio" required min="9" max="20" th:field="*{horarioInicio}">
				
				<!-- Ingreso para el horario de finalización del paseo -->
				<label class="servicio__label" for="final">Horario de final</label>
				<input class="servicio__input" type="number" id="final" name="horario_final"  required min="9" max="20" th:field="*{horarioFinal}">
				
				<!-- Ingreso para el nombre del paseador -->
				<label class="servicio__label" for="paseador">Paseador</label>
				<input class="servicio__input" type="text" id="paseador" name="nombre_paseador"  required th:field="*{nombre}">
				
				<!-- Campo oculto para almacenar el ID del paseo -->
				<input type="hidden" name="id" th:value="*{id}">
				
				<!-- Envío del formulario, muestrará de manera dinamica el título según la variable "edición"  -->
				<input type="submit" th:value="${edicion}? 'Modificar' : 'Guardar'">
			</form>
		</section>
		
		<!-- Footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>