<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Servicio</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/estilos/estilos.css}">
	</head>
	<body>
		<!-- Encabezado -->
		<header th:replace="~{layouts/header :: header}"></header>
		
		<!-- Navegación -->
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<section class="formulario__container">
			<!-- Título dinámico según el valor de la variable "edicion"--> 
			<h3 class="formulario__subtitulo" th:text="${edicion}? 'Modificar corte' : 'Nuevo corte'"></h3>
						
			<!-- Formulario para crear o modificar un corte -->
			<form th:action="${edicion}? @{/servicios/modificar-corte} : @{/servicios/guardar-corte}" th:object="${servicioCorte}" method="post">
				
				<!-- Selección del peso minimo -->
				<div class="mb-3">
					<label for="peso_minimo" class="form-label servicio__label">Peso mínimo</label>
					<input type="number" class="form-control" id="peso_minimo" name="peso_minimo" th:field="*{pesoMinimo}">
					<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('pesoMinimo')}" th:errors="*{pesoMinimo}"></div>
				</div>
				
				<!-- Selección del peso máximo -->
				<div class="mb-3">
					<label for="peso_maximo" class="form-label servicio__label">Peso máximo</label>
					<input type="number" class="form-control" id="peso_maximo" name="peso_maximo" th:field="*{pesoMaximo}">
					<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('pesoMaximo')}" th:errors="*{pesoMaximo}"></div>
				</div>			
								
				<!-- Selección del instrumento a utilizar -->
				<div class="mb-3">
					<label for="instrumento" class="form-label servicio__label">Instrumento</label>
					<select class="form-select" aria-label="Default select example" id="instrumento" name="instrumento" th:field="*{instrumento}">
						<option value="" selected>Selección</option>
						<option value="Máquina">Máquina</option>
						<option value="Tijera">Tijera</option>
					</select>
					<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('instrumento')}" th:errors="*{instrumento}"></div>
				</div>
				
				<!-- Carga de precio del corte -->
				<div class="mb-3">
					<label for="precio" class="form-label servicio__label">Precio</label>					
					<input type="number" class="form-control" id="precio" name="precio" th:field="*{precio}">
					<div class="p-1 mt-1 mb-2 bg-danger text-white rounded-1" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
				</div>
				
				<!-- Campo oculto para almacenar el ID del corte -->
				<input type="hidden" name="id" th:value="*{id}">
				
				<!-- Envío del formulario, muestrará de manera dinamica el título según la variable "edición"  -->
				<input type="submit" class="btn btn-primary" th:value="${edicion}? 'Modificar' : 'Guardar'">
			</form>
		</section>
		
		
		<!-- footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>
