<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Patas Arriba S.A</h1>
      <img alt="logo-veterinaria" src="../static/images/logo.png" title="Veterinaria S.A"
      />
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="consejos.html">Consejos de salud</a></li>
        <li><a href="servicios.html">Servicios de paseo</a></li>
        <li><a href="sucursales.html">Sucursales</a></li>
        <li><a href="contacto.html">Contáctanos</a></li>
      </ul>
    </nav>
    <section>
      <h2>Lista de productos</h2>
      <figure>
        <img src="../static/images/producto1.png" alt="Collar regulable para perros y gatos" title="Veterinaria S.A" width="200px"/>
        <figcaption>Collar Gato - Perros Ajustable</figcaption>
        <img src="../static/images/producto2.png" alt="Colchon Perros de Lona Grande" title="Veterinaria S.A" width="200px"/>
        <figcaption>Colchon Perros de Lona Grande con Cierre 105cm x 65cm </figcaption>
        <img src="../static/images/producto3.png" alt="Hierba gatera en sobre" title="Veterinaria S.A" width="200px"/>
        <figcaption>Hierba Gatera En Sobre</figcaption>
        <img src="../static/images/producto4.png" alt="Alimento Royal Canin" title="Veterinaria S.A" width="200px"/>
        <figcaption>Royal Canin Mini Perro Adulto 3kg</figcaption>
        <img src="../static/images/producto5.png" alt="Alimento para peces" title="Veterinaria S.A" width="200px"/>
        <figcaption>Shulet Tropical 20gr</figcaption>
        <img src="../static/images/producto6.png" alt="Alimento para conejos" title="Veterinaria S.A" width="200px"/>
        <figcaption>Alimento para conejo 750gr</figcaption>
      </figure>
    </section>
    <footer>
        <p>Copyright 2023 - MascoTienda - Diseñado por Grupo 37 – Jujuy – República Argentina</p>
    </footer>
  </body>
</html>
