<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicios</title>
	</head>
	<body>
		<section>
            <h1>Servicios</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th><strong>Día</strong></th>
                        <th><strong>Lunes</strong></th>
                        <th><strong>Martes</strong></th>
                        <th><strong>Miércoles</strong></th>
                        <th><strong>Jueves</strong></th>
                        <th><strong>Viernes</strong></th>
                        <th><strong>Sábado</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Horario</strong></td>
                        <td>9 a 12 - 16 a 18</td>
                        <td>9 a 12 - 16 a 18</td>
                        <td>9 a 12 - 16 a 18</td>
                        <td>9 a 12 - 16 a 18</td>
                        <td>9 a 12 - 16 a 18</td>
                        <td>9 a 12 - 16 a 18</td>
                    </tr>
                    <tr>
                        <td><strong>Paseador</strong></td>
                        <td>Juan Pérez</td>
                        <td>Lucas Diaz</td>
                        <td>Juan Pérez</td>
                        <td>María Gomez</td>
                        <td>Lucas Diaz</td>
                        <td>Roberto Vázquez</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        
	</body>
</html>