<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicios</title>
		<link rel="stylesheet" th:href="@{estilos/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/layouts :: header}"></header>
		
		<nav th:replace="~{layouts/layouts :: nav}"></nav>
		
		<section>
            <h2>Servicios</h2>
            <table>
                <thead>
                    <tr>
                        <th><strong>Día</strong></th>
                        <th><strong>Lunes</strong></th>
                        <th><strong>Martes</strong></th>
                        <th><strong>Miércoles</strong></th>
                        <th><strong>Jueves</strong></th>
                        <th><strong>Viernes</strong></th>
                        <th><strong>Sábado</strong></th>
                    </tr>
                </thead>
                <tbody>
          
                    <tr th:each="servicio : ${servicios}">
                        <td><strong>Horario</strong></td>
                        <td th:text="${servicio.hora}"></td>
                    </tr>
                    <tr>
                        <td><strong>Paseador</strong></td>
                        <td th:text="${servicio.nombrePaseador}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <footer th:replace="~{layouts/layouts :: footer}"></footer>
	</body>
</html>