<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/estilos/estilos.css}">
</head>
<body>
  		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
  
     
		 <div class="container-sm table-responsive">
		 
			<div class="row ">
			<h1 class="text-xl-center text-white">Sucursales</h1>
			</div>
			
			<!-- Filtro por rango de fecha -->
			
			<h2 class="text-left text-white">Filtrado por un rango de fechas</h2>
			<form class="form-container" method="post" th:action="@{/sucursal/filtro_sucursal}">
				<p>Fecha de inicio</p>
				<input type="date" placeholder="Fecha Inicio" id="fechaInicio" name="fechaInicio" required>
				<p>Fecha de finalizacion</p>
				<input type="date" placeholder="Fecha Fin" id="fechaFin" name="fechaFin" required>
				
				<p><input class="buttom" type="submit" value="Filtrar"></p>
				<h3 th:if="${mensaje}" th:text="'Sucursales desde la fecha '+${fechaInicio}+' hasta '+ ${fechaFin}"></h3>
      		</form>
			
			<div class="d-flex justify-content-center align-items-center">
              	
	        <table class="table table-bordered table-hover newtable ">
				<thead class="table-dark">
		          <tr>
		            <th scope="col">Nombre</th>
		            <th scope="col">Dirección</th>
		            <th scope="col">Provincia</th>
		            <th scope="col">Fecha Inicio</th>
		            <th scope="col">Fecha Final</th>
		            <th scope="col">Email</th>
		            <th scope="col">Teléfono</th>    
		            <th scope="col">Ediciones</th>      
		          </tr>
	         	</thead>
	          <tr th:each="sucu: ${sucursales}">
				<td   th:text="${sucu.nombre}"></td>
				<td th:text="${sucu.direccion}"></td>
				<td th:text="${sucu.provincia.nombre}"></td>
				<td th:text="${#temporals.format(sucu.fechaInicio,'dd/MM/yyyy')}"></td>
				<td th:text="${#temporals.format(sucu.fechaFin,'dd/MM/yyyy')}"></td>
				<td th:text="${sucu.email}"></td>
				<td th:text="${sucu.telefono}"></td>
				<td>
					<a class="newlink" th:href="@{/sucursal/modificar/}+${sucu.id}">Editar</a><br>
					<a class="newlink" th:href="@{/sucursal/eliminar/}+${sucu.id}">Eliminar</a>
				</td>
			  </tr>
	        </table>
	        </div>
	     </div>
      <a class="newlink servicio__enlace" th:href="@{/sucursal/nuevo}">Nueva sucursal</a>
      <div class="container">
      	<div class="row">
      	<div class="col">
      		<a class="newlink servicio__enlace" th:href="@{/provincias/nueva_provincia}">Nueva provincia</a>
      	</div>
      	<div class="col">
      		<a class="newlink servicio__enlace" th:href="@{/provincias/listado}">Listar provincia</a>
      	</div>
      </div>
      </div>
      
      
      
      <footer th:replace="~{layouts/footer :: footer}"></footer>
      <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>