<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/estilos/estilos.css}">
</head>
<body>
  		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
  
     
		 <div class="container-sm table-responsive">
			<div class="row ">
				<a class="newlink" th:href="@{/sucursal/nuevo}">Nueva sucursal</a>
			</div>
			<div class="d-flex justify-content-center align-items-center">
	        <table class="table table-bordered table-hover newtable ">
				<thead class="table-dark">
		          <tr>
		            <th scope="col">Nombre</th>
		            <th scope="col">Dirección</th>
		            <th scope="col">Provincia</th>
		            <th scope="col">Fecha Inicio</th>
		            <th scope="col">Email</th>
		            <th scope="col">Teléfono</th>    
		            <th scope="col">Ediciones</th>      
		          </tr>
	         	</thead>
	          <tr th:each="sucu: ${sucursales}">
				<td   th:text="${sucu.nombre}"></td>
				<td th:text="${sucu.direccion}"></td>
				<td th:text="${sucu.provincia}"></td>
				<td th:text="${#temporals.format(sucu.fechaInicio,'dd/MM/yyyy')}"></td>
				<td th:text="${sucu.email}"></td>
				<td th:text="${sucu.telefono}"></td>
				<td>
					<a class="newlink" th:href="@{/sucursal/modificar/}+${sucu.nombre}">Editar</a><br>
					<a class="newlink" th:href="@{/sucursal/eliminar/}+${sucu.nombre}">Eliminar</a>
				</td>
			  </tr>
	        </table>
	        </div>
	     </div>
      
      <footer th:replace="~{layouts/footer :: footer}"></footer>
      <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>