<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/estilos/estilos.css}">
</head>
<body>
  		<header th:replace="~{layouts/header :: header}"></header>
		
		<nav th:replace="~{layouts/nav :: nav}"></nav>
  
     <section class="sucursales_other">
		 <a th:href="@{/sucursal/nuevo}">Nueva sucursal</a>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Provincia</th>
            <th>Fecha Inicio</th>
            <th>Email</th>
            <th>Teléfono</th>    
            <th>Ediciones</th>      
          </tr>
          
          <tr th:each="sucu: ${sucursales}">
			<td th:text="${sucu.nombre}"></td>
			<td th:text="${sucu.direccion}"></td>
			<td th:text="${sucu.provincia}"></td>
			<td th:text="${#temporals.format(sucu.fechaInicio,'dd/MM/yyyy')}"></td>
			<td th:text="${sucu.email}"></td>
			<td th:text="${sucu.telefono}"></td>
			<td>
				<a class="newlink" th:href="@{/sucursal/modificar/}+${sucu.nombre}">Editar</a><br>
				<a class="newlink" th:href="@{/sucursal/eliminar/}+${sucu.nombre}">Eliminar</a>
			</td>
		  </tr>
        </table>
     </section>
      
      <footer th:replace="~{layouts/footer :: footer}"></footer>
      <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>