@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  /*font-family: "Roboto", sans-serif;*/
  background-image: linear-gradient(to top, #0444ac 0%, #438cfc 100%);
  background-size: cover;
  background-attachment: fixed;
}

/*header*/

@media (max-width: 768px) {
	.header {
		display: none; /* Oculta el elemento con la clase "header" en pantallas con un ancho máximo de 768 píxeles */
	}
}

.logo {
  width: 150px; /* Establece el ancho del logo a 150 píxeles */
}

.titulo {
  font-size: 5em; /* Tamaño de fuente del titulo */
  color: #f2f2f2; /* Color del titulo */
  margin: 0 15px; /* Establece un margen de 0 píxeles en la parte superior e inferior y 15 píxeles en los lados izquierdo y derecho del titulo */
  font-weight: bold; /* Establece la negrita (fuente en negrita) para el elemento con la clase "titulo" */
}

@media (max-width: 991px) {
      .titulo {
      	font-size: 4em; /* Modifica el tamaño de fuente del titulo en pantallas con un ancho máximo de 991 píxeles */
      }
}

@media (max-width: 768px) {
      .titulo {
      	font-size: 1.5em; /* Modifica el tamaño de fuente del titulo en pantallas con un ancho máximo de 768 píxeles */
        color: #438cfc; /* Cambia el color del titulo */
      }
}

@media (max-width: 375px) {
      .titulo {
        font-size: 1.2em; /* Modifica el tamaño de fuente del titulo en pantallas con un ancho máximo de 375 píxeles */
        color: #438cfc; /* Cambia el color del titulo */
      }
}


/*barra de navegación*/
.nav__container {
  background-color: #f2f2f2; /* Color de fondo del contenedor de la barra de navegación */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra alrededor del contenedor de la barra de navegación */
}

@media (min-width: 769px) {
	.nav__img {
		display: none; /* Oculta la imagen de la barra de navegación en pantallas anchas (mayores o iguales a 769 píxeles) */
	}
	
	.nav__titulo{
		display: none; /* Oculta el título de la barra de navegación en pantallas anchas (mayores o iguales a 769 píxeles) */
	}
}

.nav__enlace {
  color: #023482; /* Color del texto de los enlaces de la barra de navegación */
  text-decoration: none; /* Sin el subrayado en los enlaces de la barra de navegación */
  transition: all 0.3s ease; /* Transición de 0.3 segundos en todos los cambios de estilo de los enlaces */
}

.nav__enlace:hover {
  background-color: #7aacfc; /* Color de fondo al pasar el cursor sobre los enlaces de la barra de navegación */
  border-radius: 0 0 25px 25px; /* Borde redondeado en la parte inferior de los enlaces al pasar el cursor */
  color: #fff; /* Color del texto al pasar el cursor sobre los enlaces de la barra de navegación */
}

/*Index*/
.main__container {
  margin: 30px auto; /* Margen de 30px arriba y abajo, y automático en los laterales */
  background-color: #f2f2f2; /* Color de fondo */
}

.main__section {
  padding: 20px; /* Relleno interno de 20px */
}

.main__titulo {
  font-size: 2.5em; /* Tamaño de fuente */
  color: #438cfc; /* Color del titulo */
  margin-bottom: 20px; /* Margen inferior */
}

.article__subtitulo {
  color: #438cfc; /* Color del subtitulo */
  font-size: 1.7em; /* Tamaño de fuente */
  font-weight: 300; /* Grosor de fuente */
  border-bottom: 1px solid #438cfc; /* Borde inferior sólido */
}

.article__texto {
  font-size: 1em; /* Tamaño de fuente del texto */
  color: #0444ac; /* Color de texto */
  font-weight: 100; /* Grosor de fuente */
  line-height: 1.8; /* Espaciado entre líneas */
}

.aside__titulo {
  color: #f2f2f2; /* Color del titulo */
  background-color: #438cfc; /* Color de fondo*/
  padding: 5px; /* Relleno interno */
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
  font-weight: 700; /* Grosor de fuente */
  margin-top: 5px; /* Margen superior */
}

.lista__enlace {
  display: block; /* Mostrar como bloque para ocupar el ancho disponible */
  color: #438cfc; /* Color de texto */
  text-decoration: none; /* Sin decoracion de subrayado */
  transition: all 0.3s ease; /* Transición de durante 0.3s */
}

.lista__enlace:hover {
  color: #023482; /* Cambio de color de texto al pasar el cursor por encima */
  background-color: #f2f2f2; /* Cambio de color de fondo al pasar el cursor por encima */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0px 5px 5px 0px #0444ac6e; /* Sombra alrededor del elemento */
}

/*footer*/
.footer {
  font-size: 12px; /* Tamaño de fuente texto a 12 píxeles */
}

.footer__icon {
  width: 30px; /* Establece el ancho de los iconos a 30 píxeles */
  margin: 10px 0; /* Establece un margen de 10 píxeles en la parte superior e inferior y 0 píxeles en los lados izquierdo y derecho del elemento de los iconos" */
  filter: invert(100%) sepia(14%) saturate(53%) hue-rotate(58deg) brightness(114%) contrast(90%); /* Aplica un filtro a los iconos */
}

/*Pagina Productos - Galeria de productos*/
.newProducto{
  background-color: #ffffff7d;
  border-radius: 10px;
  
}
/*página-servicios*/
.servicios__container{
	min-height: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla__container{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-collapse: collapse;
}

.tabla__encabezado{
    border: 1px solid rgba(0,0,0,0.1);
}

.tabla__body{
    background-color: rgba(255,255,255,.5);
}

.tabla__dato{
    padding: 10px 5px;
    text-align: center;
    color: #023482;
    border: 1px solid rgba(0,0,0,0.1);
}

.servicios__titulo{
    margin-bottom: 15px;
    color: #f2f2f2;
    font-size: 1.5em;
}

/* Página formulario de servicios */
.formulario__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.formulario__subtitulo {
  margin-bottom: 20px;
  color: #f2f2f2;
  font-size: 1.5em;
}

.formulario__servicio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.servicio__label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #f2f2f2;
}

.servicio__input {
  margin-bottom: 30px;
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario__servicio input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.servicio__input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.servicio__enlace {
  display: inline-block;
  padding: 5px 10px;
  background-color: #023482;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}

.servicio__enlace:hover {
  	background-color: #1a74fb;
}

.servicio__enlace:focus {
  	outline: none;
  	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

#tabla__enlace {
  	text-decoration: none;
  	color: #023482;
}


/* Página de Consejos */
.consejos__container{
 	width: 85%;
  	margin: 2em auto;
  	padding:1.5em;
  	background-color: #f2f2f2;
  	border-radius: 15px;
  	text-align: center;
}
.consejos__section{
	padding: 20px 40px;
  	width: 100%;
}
.consejos__titulo {
  font-size: 2.2em;
  color: #004080;
  text-transform: uppercase;
}
.servicios__article {
  margin: 20px 0;
  text-align:left;
}
.clave{
	font-size: 1.2em;
  	color: #004080;
  	font-weight: bold;
}

/* Página de Contacto */
.form__container{
  	margin: 30px auto;
  	padding: 20px;
  	background-image: url("../images/wallpaper-vet.jpg");
  	border-radius: 15px;
  	text-align: center;
}
.form__section{
	padding: 5px 10px;
	background: #F7F7F7;
	border: 1px solid #E6E6E6;
	margin:10px;
}
.form__titulo {
  	font-size: 2.2em;
  	color: #004080;
	text-transform: uppercase;
}
.form__datos ul{
	padding: 0;
	list-style: none;
	display:flex;
}
.form__datos p, .form__datos ul li{	
	width: 100%;
	font-size:1.1em;
	border-bottom: 1px solid #ddd;
	font-weight:700;
	line-height: 3.5em;
}
/* Link del correo de contacto */
.form__datos p > a{
	color: blue;
	text-decoration:none;
}
.form__datos p > a:hover{
	color: blue;
	text-decoration:underline;
}
.form__datos p > a:active{
	color: purple;
	text-decoration:underline;
}
/* Boton de enviar */
#button__submit{
	cursor: pointer;
	width: 40%;
	height: 35px;
	padding: 7px;
	margin: 10px;
	border-bottom: none;
	border-top: none;
	border-right: none;
	text-align: center;
	background-color: #004080;
	color: #fff;	
}
#button__submit:hover{
	background-color: #fff;
	color: #004080;	
}
/* Pagina sucursales */
.newtable{
	color: white;
}
.newlink{
	display: inherit;
	text-decoration: none;
	font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 15px;
    color: white;
}
.newlink:hover{
	color:black;
}
/*Pagina Nueva Sucursal*/
.form-container{
  display: inherit;
  color: white;
  width: 500px;
  background-color: rgba(255,255,255,0.137);
  display: flex;
  margin: 5px;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
}
input{
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.buttom{
	width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  background-color: rgb(5,211,183);
  color: rgba(0,0,0,0.699);
  cursor: pointer;
  font-size: 18px;
}
.buttom:hover{
  background-color: rgb(4, 134, 116);
}


