<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<footer class="footer" th:fragment="footer">
			<div class="footer__copyright">
				<p class="copyright">Copyright &copy; 2023 - Patas Arriba S.A – Jujuy – República Argentina</p>
			</div>
			<hr>
			<div class="footer__icon__container">
				<a href="#"><img class="footer__icon" alt="facebook" th:src="@{/images/facebook.png}"></a>
				<a href="#"><img class="footer__icon" alt="instagram" th:src="@{/images/instagram.png}"></a>
				<a href="#"><img class="footer__icon" alt="twitter" th:src="@{/images/twitter.png}"></a>
				<a href="#"><img class="footer__icon" alt="email" th:src="@{/images/correo-electronico.png}"></a>
			</div>
		</footer>
	</body>
</html>