<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
			
		<nav class="nav__container" th:fragment="nav">
			<ul>
				<li class="item"><a class="nav__enlace" th:href="@{/inicio}">Inicio</a></li>
				<li class="item"><a class="nav__enlace" th:href="@{/productos}">Productos</a></li>
				<li class="item"><a class="nav__enlace" href="consejos.html">Consejos de salud</a></li>
				<li class="item"><a class="nav__enlace" href="servicios">Servicios de paseo</a></li>
				<li class="item"><a class="nav__enlace" th:href="@{/sucursal/listado}">Sucursales</a></li>
				<li class="item"><a class="nav__enlace" href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
	</body>
</html>